html {
    background-color: #fff;
    font-family: 'Arial';
    color: black;
    font-weight: 200;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

/* Nav Menu Up Top */
.navigation {
    float: right;
    margin: 7px 15px 0 0;
}

ul.nav {
    list-style: none;
    font-family: sans-serif;
    font-size: 12px;
}

.pic {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    max-width: 30px;
    max-height: 30px;
}

/*Main Section with Logo & Search */

.logo {
    max-width: 272px;
    max-height: 92px;
}

.search-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}

.search, .search input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.mic {
    max-width: 29px;
    max-height: 36px;
}

.button
{

}